<%- include('../_includes/header.ejs') %>
    <div class="grid">
        <div class="navbar">
            <%- include('../_includes/navbar.ejs') %>
                <%- include('../_includes/message.ejs') %>

        </div>
        <%- include('../_includes/sidebar.ejs') %>
            <div class="content scrollbar">
                <div class="flex">
                    <div class="search-box">
                        <input id="query" onkeyup="searchAdherent()" class="search-query" type="text"
                            placeholder="Rechercher un adhérent" />
                        <div class="search-icon">
                            <img src="img/search.png" width="20px" height="20px" alt="search">
                        </div>
                    </div>
                    <div onclick="showModal()" class="cta">Ajouter un adhérent</div>
                </div>
                <div id="result-field"></div>
                <div id="cancel-search" onclick="cancelAdherentSearch()">Annuler la recherche</div>
                <table class="table">
                    <thead class="table-head">
                        <tr>
                            <td class="table-cell text-white">Raison sociale</td>
                            <td class="table-cell text-white">Email</td>
                            <td class="table-cell text-white">Identifiant</td>
                            <td class="table-cell text-white">Status</td>
                            <td class="table-cell text-white">Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% adherents.forEach(adherents=> { %>
                            <tr class="table-row adherent">
                                <td class="table-cell semibold">
                                    <span class="fw600 adherent-entreprise">
                                        <%= adherents.entreprise %>
                                    </span>
                                </td>

                                <td class="table-cell adherent-email">
                                    <%= adherents.email %>
                                </td>
                                <td class="table-cell fw600">
                                    <%= adherents.identifiant %>

                                </td>
                                <td class="table-cell adherent-status">
                                    <% if (adherents.status===true) { %>
                                        <div class="active"></div>
                                        <% }else { %>
                                            <div class="inactive"></div>
                                            <% } %>

                                </td>
                                <td class="table-cell table-actions">
                                    <a href="/adherent?id=<%=adherents._id%>" class="table-icon"><img width="10px"
                                        height="10px" src="/img/edit.png" alt="remove"></a>
                                        <a onclick="return confirm('Voulez-vous vraiment supprimer cette adhérent?')" href="/adherents/delete/<%=adherents._id%>" class="table-icon"><img width="10px"
                                            height="10px" src="/img/remove.png" alt="remove"></a>
                                            
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
    </div>
    <%- include('../_includes/footer.ejs') %>