<%- include('../_includes/header.ejs') %>
    <div class="grid">
        <div class="navbar">
            <%- include('../_includes/navbar.ejs') %>
                <%- include('../_includes/message.ejs') %>

        </div>
        <%- include('../_includes/sidebar.ejs') %>
            <div class="content scrollbar">
            <%=adherent.entreprise%>
            </div>
    </div>
    <%- include('../_includes/footer.ejs') %>